body {
    background-image: linear-gradient( to right, rgb(10, 30, 63),rgb(39, 100, 155),  rgb(46, 153, 215));
    
}

.card_login {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    background-color: rgba(24, 25, 27, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 0%;
  }
.card_logo {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
}

.content_login {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo {
    width: 200px;
    margin-right: 20px;
    align-self: center;
}

.img_user {
    width: 80px;
    align-items: center;
}

.btn_login {
    background-color:  rgb(58, 132, 177);
    color: white;
}

.card_cadastro {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
    background-color: rgba(24, 25, 27, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 0%;
  }
.card_info {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
}

.content_registro {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo_info{
    width: 200px;
    align-self: center;
}

.img_user {
    width: 80px;
    align-items: center;
}

.btn_registre {
    background-color:  rgb(58, 132, 177);
    color: white;
}

.user_type_text {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.img_type_user{
    width: 90px;
}