body {
    background-image: linear-gradient( to right, rgb(10, 30, 63),rgb(39, 100, 155),  rgb(46, 153, 215));
    
}

.card_login {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    background-color: rgba(24, 25, 27, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 0%;
  }
.card_logo {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
}

.content_login {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo {
    width: 200px;
    margin-right: 20px;
    align-self: center;
}

.img_user {
    width: 80px;
    align-items: center;
}

.btn_padrao {
    margin: 10px;
    background-color:  rgb(58, 132, 177);
    color: white;
}


.card_cadastro {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
    background-color: rgba(24, 25, 27, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 0%;
  }
.card_info {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
}

.content_registro {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo_info{
    width: 200px;
    align-self: center;
}

.img_user {
    width: 80px;
    align-items: center;
}

.user_type_text {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.img_type_user{
    width: 90px;
}

.btn_adicionar {
    text-align: center;
    align-items: center;
    width: 65%;
}

.div_novo_pedido {
    margin: 15px;
}

.div_resultado_pedidos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card_status_requisitado {
    background-color: rgb(58, 132, 177);
    height: 100%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_status_em_andamento {
    background-color: rgb(255, 241, 116);
    height: 100%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card_status_concluido {
    background-color: rgb(98, 184, 90);
    height: 100%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_status_cancelado {
    background-color: rgb(223, 119, 101);
    height: 100%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div_solicitar_pedido {
    align-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon_add_pedido {
    width: 40px;
    margin-right: 20px;
}

.img_novo_pedido {
    width: 50%;
}

/* Tela Descricao Pedido*/

.titulo {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.coluna_descricao {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icone_detalhe {
    padding-right: 20px;
    max-width: 90px; 
    max-height: 90px 
}


/* Descricao prestador */

.card_descricao {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 350px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
  }

.card_informacoes {

    text-align: center;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 250px;
    background-color: rgb(58, 132, 177);
    border-radius: 10px;
    padding-top: 3%;
    margin: 0%;
}

/* Publicação de Proposta */

.card_info_proposta {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 350px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0%;
  }

.card_enviar_proposta {

    text-align: center;
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 250px;
    background-color: rgb(58, 132, 177);
    border-radius: 10px;
    padding-top: 5%;
    padding-left: 0%;
    margin: 0%;
    align-items: center;
}

/* Definição Quiz */

.btn_iniciar_quiz {
    background-color:  rgb(58, 132, 177);
    width: 100%;

    
}
.btn_coluna {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 350px;
    margin: auto;
    padding-top: 5%;
    padding-left: auto;
    padding-right: auto;
}

.definicao_perfil_desc {
 
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 350px;
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;

}
.card_user {
    height: 500px;
}

.icon_add {
    width: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.icon_add  > input
{
    display: none;
}

.files_add {
    width: 70%;
    max-width: 500px;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
}